{% extends 'layout.html.twig' %}

{% block content %}

	<div class="container">

		<h2>Liste des commentaires</h2>
		<br>
	</div>

	<body>
		<div class="container">

			<table class="table">
				<thead>
					<tr>
						<th>Auteur</th>
						<th>Contenu</th>
						<th>Date de création</th>
						<th>Statut</th>
						<th>Action</th>


					</tr>
				</thead>
				<tbody>
					{% for comment in comments %}
						<tr>
							<td>{{comment.author}}
							</td>
							<td>
								{{comment.content}}
							</td>

							<td>{{comment.created_at}}
							</td>

							<td>{{comment.published}}
							</td>
							<td>
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Action
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href="{{ URL }}/admin/actionComments/{{comment.id}}/activate">Activer</a>
										<a class="dropdown-item" href="{{ URL }}/admin/actionComments/{{comment.id}}/desactivate">Désactiver</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item text-danger" href="{{ URL }}/admin/actionComments/{{comment.id}}/delete">Supprimer</a>
									</div>
								</div>

							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>	

	</body>


	{% endblock %}

