<!DOCTYPE html>
<html>
	<head>
		{% block head %}

			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta href="{{ URL }}">

			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ URL }}/public/css/style.css">
			<script src="https://kit.fontawesome.com/881aade759.js" crossorigin="anonymous"></script>

			
				{% block title %}{% endblock %}
				<title>Ma page web</title>
		{% endblock %}
	</head>

	<body>
		<nav>

			<ul class="menu">
				<li class="logo">
					<a href="#"><img src="{{ URL }}/public/images/logoblog1.png" height="65"></a>
				</li>
				<li class="items">
					<a href="./">Accueil</a>
				</li>
				<li class="items">
					<a href="{{ URL }}/#competences=competences">Mes compétences</a>
				</li>
				<li class="items">
					<a href="{{ URL }}/#blog=MonBlog">Mon blog</a>
				</li>
				<li class="items">
					<a href="{{ URL }}/#contact=contact">Contacter-nous</a>
				</li>
				{% if session.connected != 'yes' %}
					<li class="items">
						<a href="{{ URL }}/signin">Connexion et inscription
							{{ session.connected }}</a>
					</li>
				{% endif %}>
				{% if session.connected == 'yes' %}
					<li class="items">
						<a href="{{ URL }}/signin/disconnect">Déconnexion</a>
					</li>
				{% endif %}>
				<li class="toggle">
					<span class="bars"></span>
				</li>

			</ul>

		</nav>

		{% block content %}{% endblock %}


</div>	
		{% block footer %}
						<footer class="bg-dark text-center text-white">
				<!-- Grid container -->
				<div class="container p-4 pb-0">
					<!-- Section: Social media -->
						<div class="social">

							<section class="mb-4">
							<!-- Facebook -->
							<a class="btn btn-outline-light btn-floating m-1" href="https://fr-fr.facebook.com/" role="button"><i class="fab fa-facebook-f"></i></a>

							<!-- Twitter -->
							<a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/?lang=fr" role="button"
								><i class="fab fa-twitter"></i
							></a>

							<!-- Instagram -->
							<a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/?hl=fr" role="button"
								><i class="fab fa-instagram"></i
							></a>

							<!-- Linkedin -->
							<a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/feed/" role="button"
								><i class="fab fa-linkedin-in"></i
							></a>

							<!-- Github -->
							<a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"
								><i class="fab fa-github"></i
							></a>
							</section>
							<!-- Section: Social media -->
						</div>
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
					© 2021 Copyright:
					<a class="text-white" href="http://localhost/cours-php-poo-corrigee">Rafik Bengrid</a>
				</div>
				<!-- Copyright -->
				</footer>
						
		{% endblock %}
	

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
